    @model CMS.Application.DTOs.CandidateCreateDTO

<h2>Create Candidate</h2>

<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="FullName" class="control-label"><span class="text-danger">*</span> Full Name</label>
        <input asp-for="FullName" class="form-control" autocomplete="off" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label asp-for="Phone" class="control-label"><span class="text-danger">*</span> Phone</label>
        <input asp-for="Phone" class="form-control" autocomplete="off" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

 @*    <div class="form-group" style="margin-top: 15px;">

        <label asp-for="PositionId" class="control-label">Position</label>
        @if (ViewBag.positions != null)
        {
            <select asp-for="PositionId" asp-items="@(ViewBag.positions)" class="form-control">
                <option value="">-- Select a position --</option>
                
            </select>
        }

        <span asp-validation-for="PositionId" class="text-danger"></span>
    </div> *@
    <div class="form-group" style="margin-top: 15px;">

        <label asp-for="CompanyId" class="control-label">Company Name</label>
        @if (ViewBag.CompaniesDTOs != null)
        {
            <select asp-for="CompanyId" asp-items="@(ViewBag.CompaniesDTOs)" class="form-control">
                <option value="">-- company --</option>

            </select>
        }

        <span asp-validation-for="CompanyId" class="text-danger"></span>
    </div>

@*     <div class="form-group" style="margin-top: 15px;">
        <label asp-for="Email" class="control-label">Email</label>
        <input asp-for="Email" class="form-control" autocomplete="off" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label asp-for="Address" class="control-label">Address</label>
        <input asp-for="Address" class="form-control" autocomplete="off" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div> *@
    <div class="form-group" style="margin-top: 15px;">
        <label asp-for="Experience" class="control-label"><span class="text-danger">*</span> Experience</label>
        <input asp-for="Experience" class="form-control" autocomplete="off" />
        <span asp-validation-for="Experience" class="text-danger"></span>
    </div>
 @*    <div class="form-group" style="margin-top: 15px;">
        <label asp-for="LinkedInUrl" class="control-label">LinkedIn Url</label>
        <input asp-for="LinkedInUrl" class="form-control" autocomplete="off" />
        <span asp-validation-for="LinkedInUrl" class="text-danger"></span>
    </div> *@
  @*   <div class="form-group" style="margin-top: 15px;">

        <label asp-for="CountryId" class="control-label"><span class="text-danger">*</span> Country Name</label>
        @if (ViewBag.CompaniesDTOs != null)
        {
            <select asp-for="CountryId" asp-items="@(ViewBag.CountryDTOs)" class="form-control">
                <option value="">-- Select a country --</option>

            </select>
        }

        <span asp-validation-for="CountryId" class="text-danger"></span>
    </div> *@

    <div class="form-group" style="margin-top: 15px;">
        <label for="file">Upload CV:</label>
        <input type="file" id="file" name="file" class="form-control-file" onchange="validateFileFormat(this)" />
        <br />
        <span id="fileError" class="text-danger"></span>
    </div>

   
    <div class="form-group text-end" >
        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
     <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>



<script>
    function validateFileFormat(input) {
        const allowedExtensions = [".pdf", ".docx", ".png", ".jpg"];
        const file = input.files[0];

        if (file) {
            const fileExtension = '.' + file.name.split('.').pop().toLowerCase();
            if (!allowedExtensions.includes(fileExtension)) {
                document.getElementById("fileError").textContent = "Invalid file format. Allowed formats are PDF, DOCX, PNG, and JPG.";
            } else if (file.size > 4 * 1024 * 1024) { // Check if the file size is greater than 4MB
                document.getElementById("fileError").textContent = "File size exceeds 4MB.";
            } else {
                document.getElementById("fileError").textContent = "";
            }
        }
    }
</script>
