@model CMS.Application.DTOs.CountryDTO
<h1>Add a country</h1>
<form asp-action="AddCountry">
@*     <div asp-validation-summary="ModelOnly" class="text-danger"></div>
 *@        <div class="form-group">
        <label asp-for="Name" class="control-label"><span class="text-danger">*</span> Name</label>
        <input style="width: 30%;" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
        <span id="errorMessage" class="text-danger"></span>
    </div>
 
    <div class="form-group " style="margin-top: 10px;">
        <button type="submit" class="btn btn-primary">Add</button>
        <a class="btn btn-secondary" asp-action="GetCountries"> Back to list</a>

    </div>

</form>





<script>
    $(document).ready(function () {
        $("#Name").on("input", function () {
            var name = $(this).val();


            $.ajax({
                url: '@Url.Action("CheckCountryName", "Country")',
                data: { name: name },
                type: "POST",
                success: function (response) {
                    if (response.exists) {
                        $("#errorMessage").text("A country with the same name already exists.");
                        //$("#addBookButton").prop("disabled", true);
                    } else {
                        // $("#addBookButton").prop("disabled", false);
                        $("#errorMessage").hide();
                    }
                },
                error: function () {
                    $("#errorMessage").text("Error checking country name.");
                }
            });
        });
    });
</script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        $('form').submit(function (e) {
            var name = $('#Name').val();

            // Validate Name
            if (!name.trim()) {
                $('#errorMessage').text('Name is required.');
                e.preventDefault(); // Prevent form submission
            } else {
                $('#errorMessage').text('');
            }
        });
    });
</script>
