@model CMS.Application.DTOs.CountryDTO

<h1>Edit country</h1>

<form asp-action="UpdateCountry">
@*     <div asp-validation-summary="ModelOnly" class="text-danger"></div>
 *@    <div class="form-group"><input type="hidden" asp-for="Id" /></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"><span class="text-danger">*</span> Name</label>
        <input style="width: 30%;" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group " style="margin-top:10px;">
        <input type="submit" class="btn btn-primary" value="Submit" />
        <a class="btn btn-secondary" asp-action="GetCountries"> Back to list</a>

    </div>
</form>
