@model CMS.Application.DTOs.CountryDTO
<h1>Add a country</h1>
<form asp-action="AddCountry">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
        <label asp-for="Name" class="control-label"><span class="text-danger">*</span> Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
        <span id="errorMessage" class="text-danger"></span>
    </div>
 
    <div class="form-group text-end" style="margin-top: 10px;">
        <a class="btn btn-secondary" asp-action="GetCountries"> back to list</a>
        <button type="submit" class="btn btn-primary">Add</button>
    </div>

</form>





<script>
    $(document).ready(function () {
        $("#Name").on("input", function () {
            var name = $(this).val();


            $.ajax({
                url: '@Url.Action("CheckCountryName", "Country")',
                data: { name: name },
                type: "POST",
                success: function (response) {
                    if (response.exists) {
                        $("#errorMessage").text("A country with the same name already exists.");
                        //$("#addBookButton").prop("disabled", true);
                    } else {
                        // $("#addBookButton").prop("disabled", false);
                        $("#errorMessage").hide();
                    }
                },
                error: function () {
                    $("#errorMessage").text("Error checking book name.");
                }
            });
        });
    });
</script>