@model CMS.Application.DTOs.NotificationsDTO

<h1>Notification Details</h1>

<dl class="row">
  @*   <dt class="col-sm-2">Receiver ID:</dt>
    <dd class="col-sm-10">@Model.ReceiverId</dd>
 *@
    <dt class="col-sm-2">Sent Date:</dt>
    <dd class="col-sm-10">@Model.SendDate</dd>


    <dt class="col-sm-2">Title:</dt>
    <dd class="col-sm-10">@Html.Raw(Model.Title)</dd>

    <dt class="col-sm-2">Body Description:</dt>
    <dd class="col-sm-10">@Html.Raw(Model.BodyDesc)</dd>


   
</dl>

<div class="form-group">
    @if (User.IsInRole("HR Manager"))
    {
        <div class="">
        <a class="btn btn-primary" asp-action="Index">Back to main list</a>
        <a class="btn btn-secondary" asp-action="IndexHRnotification" style="margin-left: 12px;">Back to your Notification list</a>
        </div>
    }
    else if (User.IsInRole("Interviewer"))
    {
        <a class="btn btn-secondary" asp-action="IndexInterviewernotification">Back to List</a>
    }
    else if (User.IsInRole("General Manager"))
    {
        <a class="btn btn-secondary" asp-action="IndexGMnotification">Back to List</a>
    }
    else
    {
        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
    }



  
</div>
