@model CMS.Application.DTOs.NotificationsDTO

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Notification Details</title>
    <!-- Add your CSS styles or link to an external stylesheet here -->
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
            color: #495057;
        }

        h1 {
            color: #007bff;
            text-align: center;
            margin-top: 30px;
        }

        dl.row {
            padding: 20px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: 20px auto;
            max-width: 600px;
        }

        dt.col-sm-2 {
            color: #007bff;
            font-weight: bold;
        }

        dd.col-sm-10 {
            margin-bottom: 15px;
        }

        .form-group {
            text-align: center;
            margin-top: 20px;
        }

        .btn-secondary {
            background-color: #6c757d;
            color: #ffffff;
        }

        /* Add more styling as needed */
    </style>
</head>
<body>

    <h1>Notification Details</h1>

    <dl class="row">
        <dt class="col-sm-2">Sent Date:</dt>
        <dd class="col-sm-10">@Model.SendDate</dd>

        <dt class="col-sm-2">Title:</dt>
        <dd class="col-sm-10">@Html.Raw(Model.Title)</dd>

        <dt class="col-sm-2">Body Description:</dt>
        <dd class="col-sm-10">@Html.Raw(Model.BodyDesc)</dd>
    </dl>

    <div class="form-group">
        @if (User.IsInRole("HR Manager"))
        {
            <div class="">
                <a class="btn btn-secondary" asp-action="IndexHRnotification" style="margin-left: 12px;">Back to your Notifications</a>
            </div>
        }
        else if (User.IsInRole("Interviewer"))
        {
            <a class="btn btn-secondary" asp-action="IndexInterviewernotification">Back to your Notifications</a>
        }
        else if (User.IsInRole("General Manager"))
        {
            <a class="btn btn-secondary" asp-action="IndexGMnotification">Back to your Notifications</a>
        }
        else if (User.IsInRole("Solution Architecture"))
        {
            <a class="btn btn-secondary" asp-action="IndexArchinotification">Back to your Notifications</a>
        }
        else
        {
            <a class="btn btn-secondary" asp-action="Index">Back to Notifications</a>
        }
    </div>

</body>
</html>
