@using CMS.Domain.Enums;
@model CMS.Application.DTOs.NotificationsDTO

<h1>Edit Notification</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="NotificationsId" />
    <div class="form-group">
        <label asp-for="ReceiverId">Receiver ID:</label>
        <input asp-for="ReceiverId" class="form-control" />
        <span asp-validation-for="ReceiverId" class="text-danger"></span>
    </div>

@*     <div class="form-group">
        <label asp-for="IsReceived">Is Received:</label>
        <input asp-for="IsReceived" class="form-control" />
        <span asp-validation-for="IsReceived" class="text-danger"></span>
    </div> *@


    <div class="form-group">
        <label asp-for="templatesDTO.TemplatesId" class="control-label">Title</label>
        @Html.DropDownListFor(model => model.templatesDTO.TemplatesId, (SelectList)ViewBag.templetList, "Select a Title", new { @class = "form-control" })
        <span asp-validation-for="templatesDTO.TemplatesId" class="text-danger"></span>
    </div>

  @*   <div class="form-group">
        <label asp-for="TemplateName" class="control-label">Template Name</label>
        @Html.DropDownListFor(model => model.TemplateName, (SelectList)ViewBag.TemplateEnumList, "Select a Template Name", new { @class = "form-control" })
        <span asp-validation-for="TemplateName" class="text-danger"></span>
    </div> *@



    <div class="form-group">
        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
        <input type="submit" value="Save" class="btn btn-outline-primary" />
    </div>
</form>

