@model CMS.Application.DTOs.CarrerOfferDTO


<h2>Create</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="PositionId" class="control-label"></label>
        <input asp-for="PositionId" class="form-control" />
        <span asp-validation-for="PositionId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="YearsOfExperience" class="control-label"></label>
        <input asp-for="YearsOfExperience" class="form-control" />
        <span asp-validation-for="YearsOfExperience" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LongDescription" class="control-label"></label>
        <input asp-for="LongDescription" class="form-control" />
        <span asp-validation-for="LongDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CreatedBy" class="control-label"></label>
        <input asp-for="CreatedBy" class="form-control" />
        <span asp-validation-for="CreatedBy" class="text-danger"></span>
    </div>
   @* <div class="form-group">
        <label asp-for="CreatedDateTime" class="control-label"></label>
        <input asp-for="CreatedDateTime" class="form-control" />
        <span asp-validation-for="CreatedDateTime" class="text-danger"></span>
    </div>*@
    
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
