@model List<CMS.Application.DTOs.StatusDTO>
@{
    ViewData["Title"] = "Interview Statueses";
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h5 class="card-title mb-0 flex-grow-1">Statueses</h5>

            </div>
            <div class="card-body">

                <table id="add-rows" class="table table-nowrap dt-responsive table-bordered display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Status Name</th>
                            <th>Code</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem=>item.Name)</td>

                                <td>@Html.DisplayFor(modelItem=>item.Code)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->
