<!-- Views/Home/NotFound.cshtml -->
@{
    ViewData["Title"] = "Not Found";
}

<h1 class="text-center">404 - Not Found</h1>
<p class="text-center">The page you are looking for might be under construction or does not exist.</p>
