@model IEnumerable<CMS.Application.DTOs.PositionDTO>


@{
    ViewData["Title"] = "Positions";
}



<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <div>
                    <a asp-action="AddPosition" class="btn btn-primary">Create New Record</a>
                </div>
            </div>


            <div class="card-body">
                <table class="table table-nowrap dt-responsive table-bordered display" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>position Name</th>

            <th>Delete position</th>
            <th>Edit position</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pos in Model)
        {
            <tr>
               <td>@pos.Id</td>
                <td>@pos.Name</td>



              <td>
                  <form method="post" asp-action="DeletePosition">
                      <input type="hidden" name="id" value="@pos.Id" />
                      <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
              </td>
              <td>
                  <a asp-action="UpdatePosition" asp-route-id="@pos.Id">Edit</a>
              </td>
      



            </tr>
        }

    </tbody>
</table>
</div>
        </div>

    </div>

</div>