@model IEnumerable<CMS.Application.DTOs.PositionDTO>


@model IEnumerable<CMS.Application.DTOs.PositionDTO>


<h1>Positions</h1>


<p>
    <a class="btn btn-outline-primary font-italic" asp-action="AddPosition">Create New</a>
</p>

<table class="datatable">
    <thead>
        <tr>
           
            <th>Position Name</th>
          
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if(Model!=null)
        @foreach(var pos in Model)
        {
            <tr>
             
                <td>@position.Name</td>
                <td>
                    <a class="bx bxs-edit-alt" style="font-size:x-large" asp-action="UpdatePosition" asp-route-id="@position.PositionId"></a> |
                  @* <a class="bx bx-detail" style="font-size:x-large" asp-action="Details" asp-route-id="@position.Id"></a> | *@
                   @*  <a class="ri-delete-bin-2-line text-danger" style="font-size:x-large" asp-action="Delete" asp-route-id="@position.Id"></a> *@
                   
                </td>
            </tr>
        }
    </tbody>
</table>


  



