@model CMS.Application.DTOs.CountryDTO
@{
    ViewData["Title"] = "Confirm Delete";
}

<h2>Confirm Deletion</h2>

<p>Are you sure you want to delete the following company?</p>

<div>

    <dl class="row">
        <dt class="col-sm-2">
            Country Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
     

    </dl>


    <form method="post" asp-action="DeleteCountry" asp-route-id="@Model.Id" class="text-end">
        <a asp-action="GetCountries" class="btn btn-secondary">Back to List</a>
        <button type="submit" class="btn btn-danger">Confirm Delete</button>
    </form>
</div>